In [2]:
dni=input("¿dime tu DNI?")
nombre=input("¿dime tu nombre?")
apellidos=input("¿dime tus apellidos?")
pais=input("¿dime tu pais?")
           
print(str(dni)+" "+str(nombre)+" "+str(apellidos)+" " +str(pais))

¿dime tu DNI?12345
¿dime tu nombre?manuel
¿dime tus apellidos?lobo
¿dime tu pais?españa
12345 manuel lobo españa

In [5]:
#dni=input("Dime DNI a buscar")
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="tienda"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT nombre as nombre_de_producto, concat(precio,\"€\") as euros, (precio*1.2)as dolares FROM `producto`")

myresult = mycursor.fetchall()

for x in myresult:
    print("dni "+str(x[0])+" nombre "+str(x[1])+" apellidos "+str(x[2])+ " país ")

dni Disco duro SATA3 1TB nombre 86.99€ apellidos 104.38799999999999 país
dni Memoria RAM DDR4 8GB nombre 120€ apellidos 144.0 país
dni Disco SSD 1 TB nombre 150.99€ apellidos 181.18800000000002 país
dni GeForce GTX 1050Ti nombre 185€ apellidos 222.0 país
dni GeForce GTX 1080 Xtreme nombre 755€ apellidos 906.0 país
dni Monitor 24 LED Full HD nombre 202€ apellidos 242.39999999999998 país
dni Monitor 27 LED Full HD nombre 245.99€ apellidos 295.188 país
dni Portátil Yoga 520 nombre 559€ apellidos 670.8 país
dni Portátil Ideapd 320 nombre 444€ apellidos 532.8 país
dni Impresora HP Deskjet 3720 nombre 59.99€ apellidos 71.988 país
dni Impresora HP Laserjet Pro M26nw nombre 180€ apellidos 216.0 país